<ion-view view-title="{{pageTitle}}">
  <ion-content>
    <div class="list card">
      <ion-list>
        <ion-item href="tel://+5507133467753">
          <i class="icon ion-android-call"></i> +55 71 3346-7753
        </ion-item>
        <ion-item href="mailto://liriopituba@gmail.com">
          <i class="icon ion-at"></i> liriopituba@gmail.com
        </ion-item>
        <ion-item href="https://www.google.com/maps?ll=-13.01064,-38.466175&z=16&t=m&hl=pt-BR&gl=BR&mapclient=embed&cid=4614259234744298303">
          <i class="icon ion-map"></i> Av. Octávio Mangabeira, 300 Pituba - Salvador/BA
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
