<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/news">
          <i class="icon ion-social-rss"></i> Notícias
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          <i class="icon ion-android-contacts"></i> Contatos
        </ion-item>
        <ion-item menu-close href="#/app/church-services">
          <i class="icon ion-bookmark"></i> Cultos
        </ion-item>
        <ion-item menu-close href="#/app/donations">
          <i class="icon ion-heart"></i> Doações
        </ion-item>
        <ion-item menu-close href="http://ibldv.com.br/">
          <i class="icon ion-ios-world-outline"></i> Site
        </ion-item>
        <ion-item menu-close href="https://goo.gl/maps/WfCnsx5FV6q">
          <i class="icon ion-map"></i> Nossa Localização
        </ion-item>
        <ion-item menu-close href="mailto:contato@gcodetec.com&subject=Feedback IBLV App">
          <i class="icon ion-alert-circled"></i> Feedback
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
