<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.lirioapp818613" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>lirioapp</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="gwmoura@gmail.com" href="https://georgemoura.com.br/">
      George Moura
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <!-- Allow links to web pages to open in a browser -->
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <!-- Allow tel: links to open the dialer -->
  <allow-intent href="tel:*" />
  <!-- Allow geo: links to open maps -->
  <allow-intent href="geo:*" />
  <!-- Allow mailto: links to open maps -->
  <allow-intent href="mailto:*" />
</widget>
